.intro {
  overflow: hidden;
  position: relative;
  margin-top: 72px;
  padding: 0px 32px;
  height: 500px;

  max-width: 1250px;
    margin: 0 auto;

  > div {
    max-width: 1250px;
    margin: 0 auto;
  }

  &-img {
    background-image: url('glenn-small.svg');
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 32px;
    
  }

  &-header {
    font-size: 40px;
    margin-bottom: 24px;
  }
  &-text {
    margin-bottom: 48px;
    max-width: 320px;
    color: #5f5f5f;
  }
  &-button {
    background-color: $font-color-lime-green;
    border-color: none;
    border: none;
    width: 100px;
    height: 32px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 32px;
  }

  &-svg {
    position: absolute;
    top: 300px;
    left: 200px;
  }

  &-desktop {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  &-ellipse {
    position: absolute;
    height: 350px;
    right: -150px;
    bottom: -220px;
  }

  &-socials {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: 16px;
    bottom: 4px;

    svg {
      height: 22px;
      margin-bottom: 10px;
      fill: #e6e6ee;


      &:hover{
        cursor: pointer;
        fill: white;
      }
      
    }
  }
}

@media (min-width: 720px) {
  .intro {
    padding: 0px 72px;

    &-ellipse {
      position: absolute;
      height: 500px;
      right: -200px;
      bottom: -220px;
    }
  }
}

@media (min-width: 980px) {
  .intro {
    padding: 0px 140px;
    

    &-header {
      font-size: 48px;
    }
    &-text {
      font-size: 20px;
      max-width: 400px;
    }

    &-ellipse {
      position: absolute;
      height: 600px;
      right: -250px;
      bottom: -250px;
    }

    &-socials {
  
      svg {
        height: 28px;
        margin-bottom: 12px;
      }
    }

    &-img {
      // width: 210px;
      // height: 210px;
    }
  }
}
